<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="easyBilling.Properties.Settings.eBilling_DBConnectionString"
            connectionString="Data Source=.\sqlexpress;AttachDbFilename=|DataDirectory|\Data\eBilling_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="easyBilling.Properties.Settings.J__PROJECTS_MY_PROJECTS_CLIENT_PROJECT_EASYBILLING_EASYBILLING_EASYBILLING_BIN_DEBUG_DATA_EBILLING_DB_MDFConnectionStrin"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;J:\PROJECTS\MY PROJECTS\CLIENT PROJECT\EASYBILLING\EASYBILLING\EASYBILLING\BIN\DEBUG\DATA\EBILLING_DB.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
